{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mrnosomebody</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="menu">
    <u><a href="#about">About</a></u>
    <u><a href="#">Projects</a></u>
    <u><a href="#">Contact</a></u>
    <u><a href="{% url 'notions' %}">Bookmarks</a></u>
</div>
<section>

        <div class="left">
            <div class="portfolio-text">
        <span>Hey, I am</span>
        Sergey Bezsonov
        <div class="line"></div>
        <div class="" style="display: flex">
            <span style="display: grid;">
                <li>I'm web developer</li>
                <li>My main specification is backend</li>
                <li>I've learned everything myself</li>
{#                I focus on Web Development, especially the backend.#}
{#                I have a great passion for making my websites look#}
{#                cool, so I'm in design as well#}
            </span>
        </div>

    </div>
    <div class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div>
        </div>
        <div class="right">
            <img src="{% static 'images/rr.jpg' %}" alt="">
        </div>
    </div>

</section>

<section>

    <a id="about"></a>
    <div class="title">
        ABOUT
    </div>
</section>
</body>

</html>