{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mrnosomebody</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>


<div class="menu">
    <a href="#about" class="menu-item">
        <img src="{% static 'images/about.svg' %}" alt="">
        <span>About</span>
    </a>
    <a href="#skills" class="menu-item">
        <img src="{% static 'images/prjct.svg' %}" alt="">
        <span>Skills</span>
    </a>
    <a href="#contact" class="menu-item">
        <img src="{% static 'images/cntct.svg' %}" alt="">
        <span>Contact</span>
    </a>
    <a href="{% url 'notions' %}" class="menu-item">
        <img src="{% static 'images/bkmk.svg' %}" alt="">
        <span>Bookmarks</span>
    </a>
</div>
<section>

    <div class="left">
        <div class="info">
            <div class="portfolio-text" style="align-self: flex-end;margin-top: 5%;">
                <h1>Sergey Bezsonov</h1>
                <h1>Vladivostok, Russia</h1>
            </div>
            <div class="line"></div>
            <div class="portfolio-text" style="justify-self: flex-end;">
                <h1>Backend Developer</h1>
                <h1>Mobile Developer</h1>
            </div>
            <div class="line"></div>
            <div class="portfolio-text" style="align-self: flex-start">
                <h1>Bachelor of Software Engineering</h1>
                <h1>Far Eastern Federal University</h1>
            </div>
            <div class="line"></div>
        </div>
        <div class="mouse_scroll">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="{% static 'images/kl.svg' %}" alt="">
    </div>
    </div>

</section>


<section>
    <a id="about"></a>
    <div class="left-about">
        <div class="item">
            <img src="{% static 'images/about.svg' %}" alt="">
            <div class="title">ABOUT</div>
        </div>

        <div class="text-about">
            I'm 20 years old, and I am graduating from the university
            next year. I have no commercial experience, but I practice a lot
            by creating projects that you can see on
            <u><a href="https://github.com/mrnosomebody/">my github</a></u>
        </div>
        <a class="fancy" href="https://github.com/mrnosomebody/">
            <span class="top-key"></span>
            <span class="text">explore projects</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </a>

    </div>
    <div class="right-about">
        <div class="text-about"
             style="width: 45%;padding: 10px; margin-top: 10%;margin-left: -15%;
                     {#background: rgba(255,255,255,0.7);#}
                     border: 1px solid hsl(198, 1%, 29%);
                     background: linear-gradient(rgba(226,222,213,0.9),rgba(226,222,213,0.55));
                     z-index: 3;text-transform: uppercase; font-weight: bold; border-radius: 50px">
            I'm a big fan of sports. You will meet me on the mountainside, at
            the hockey arena or at the gym
        </div>
        <img src="{% static 'images/sbb.jpg' %}" alt=""
             style="position:absolute;margin-top: 15%;
             z-index: 1; border-radius: 15px;height: 550px;">
    </div>
</section>
<section style="display: grid">
    <a id="skills"></a>
    <div class="item" style="justify-self: flex-end;height: fit-content;">
        <img src="{% static 'images/skills.svg' %}" alt="" style="height: 80px">
        <div class="title">What about skills?</div>
    </div>
    <div style="display:flex">
        <div class="block-container">
            <div class="skills">
                Web Development
            </div>
            <div style="display: flex; flex-wrap: wrap; padding: 0 15% 0 0%;">
                <div class="skill-name">Python</div>
                <div class="skill-name">Django</div>
                <div class="skill-name">DRF</div>
                <div class="skill-name">Redis</div>
                <div class="skill-name">Celery</div>
                <div class="skill-name">Computer networks</div>
            </div>
            <div style="margin-top: 10%; margin-left: 40%;width: 100%;">
                <div class="skills">
                    Mobile Development
                </div>
                <div style="display: flex; margin-left: 20%;">
                    <div class="skill-name">Dart</div>
                    <div class="skill-name">Flutter</div>
                </div>
            </div>


        </div>
        <img src="{% static 'images/skl.svg' %}" alt="" style="height: 500px">
        {#        <div class="block-container" style="margin-top: 10%;">#}
        {#            <div class="skills">#}
        {#                Mobile Development#}
        {#            </div>#}
        {#            <div class="skill-name">Dart</div>#}
        {#            <div class="skill-name">Flutter</div>#}
        {#        </div>#}
    </div>
</section>
{#<section>#}
{#    <a id="contact"></a>#}
{#    <img src="{% static 'images/contact.svg' %}" alt=""#}
{#    style="height: 550px;margin-top: 5%;">#}
{#    <div class="contact-form">#}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            <input type="text" required name="Name" placeholder="Your name/Company name">#}
{#            <textarea name="message" id="" cols="30" rows="10" placeholder="Your offer"></textarea>#}
{#        </form>#}
{#    </div>#}
{#</section>#}
<section style="display: grid">
    <a id="contact"></a>

    <div class="item" style="justify-self: flex-end;height: fit-content;">
        <img src="{% static 'images/cntct.svg' %}" alt="" style="height: 70px;">
        <div class="title">contact me</div>
    </div>
    <div style="display: flex">
        <img src="{% static 'images/contact.svg' %}" alt="" style="height: 500px">

        <form class="contact-form" method="post">
            {% csrf_token %}
            <div class="form-field">
                <label class="label" for="subject">Subject</label>
                <input name="subject" class="input-text js-input" type="text" required>

            </div>
            <div class="form-field">
                <label class="label" for="email">Email</label>
                <input name="email" class="input-text js-input" type="email" required>

            </div>
            <div class="form-field">
                <label class="label" for="message">Message</label>
                <textarea style="height: 60px;" name="message" class="input-text js-input" type="text" required></textarea>
            </div>
            <button class="fancy" type="submit">
                <span class="top-key"></span>
                <span class="text">send message</span>
                <span class="bottom-key-1"></span>
                <span class="bottom-key-2"></span>
            </button>
        </form>
    </div>

</section>
</body>

</html>