@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); /*--------- Layout -------- */
*, *:before, *:after {
    position: relative;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --mainColor: hsl(198, 1%, 29%)
}

body {
    /*background: url("../images/bg2.jpg");*/
    background-color: #e2ded5;
    min-height: 100vh;

    color: var(--mainColor);
    font-family: 'Nunito', serif;
    font-size: 26px;

}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--mainColor);
}

section {
    min-height: 100vh;
    padding: 3% 5% 5% 5%;
    display: flex;
}

li {
    margin-top: 20px
}

.left {
    display: grid;
    width: 45%;
    z-index: 3;
}

.right {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 55%;
}

/*img {*/
/*    width: 400px;*/
/*    */
/*    border-radius: 15px;*/
/*}*/
.menu {
    margin: 2% 0;
    position: absolute;
    padding: 25px;
    right: 0;
    /*writing-mode: vertical-rl;*/
    /*text-orientation: mixed;*/
    z-index: 999;
    display: flex;
}

.menu span {
    display: flex;
    width: fit-content;
    height: 30px;
    margin-left: 5px;
}


.menu a {
    display: flex;
    width: fit-content;
    height: 30px;
    margin-left: 40px;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--mainColor);
}


.info {
    display: grid;
    height: 50%;
    width: 100%;
}

.portfolio-text {
    width: fit-content;
    display: grid;
    border: 1px solid var(--mainColor);
    padding: 20px;
}

.portfolio-text span {
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100%;
}

.portfolio-text h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 30px;

}

.line {
    border-bottom: groove 1px var(--mainColor);
    margin: 20px 0;
    width: 100%;
    height: 1px;
}


.title {
    /*margin-top: 10%;*/
    font-size: 60px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 40px;
    text-transform: uppercase;
}

.left-about {
    display: grid;
    width: 45%;
    margin-top: 10%;
}

.right-about {
    display: grid;
    width: 50%;
    margin-left: 20%;
}

.text-about {
    width: 100%;
    height: fit-content;
    font-size: 30px;
}

.item {

    display: flex;
}

.item img {
    width: 2.5em;
    height: 2.5em;
}

.skill-name {
    display: grid;
    width: 20%;
    /*align-items: center;*/
    padding: 0 10px;
}

.skill-title {
    font-size: 30px;
    height: 40px;
}

.skills {
    display: flex;
}

.skill-grades {
    display: grid;
    padding: 0 10px;
}

/*=====================================================*/
.skill-icon {
    font-size: 0;
}

.skill-icon span {
    width: 18px;
    height: 18px;
    background: #a9dd75;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    margin: 12px 6px 30px 0;
}


.skill-0 span:nth-child(n+1) {
    background: #FFF;
}

.skill-1 span:nth-child(n+2) {
    background: #FFF;
}

.skill-2 span:nth-child(n+3) {
    background: #FFF;
}

.skill-3 span:nth-child(n+4) {
    background: #FFF;
}

.skill-4 span:nth-child(n+5) {
    background: #FFF;
}

.skill-5 span:nth-child(n+6) {
    background: #FFF;
}

.skill-6 span:nth-child(n+7) {
    background: #FFF;
}

.skill-7 span:nth-child(n+8) {
    background: #FFF;
}

.skill-8 span:nth-child(n+9) {
    background: #FFF;
}

.skill-9 span:nth-child(n+10) {
    background: #FFF;
}

.skill-10 span:nth-child(n+11) {
    background: #FFF;
}

/*==============================================*/
.mouse_scroll {
    display: block;
    width: 24px;
    height: 100px;
    margin: 100px auto 0;
}


.m_scroll_arrows {
    display: block;
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
    border-right: 2px solid var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}


.unu {
    margin-top: 1px;
}

.unu, .doi, .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;

}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;

    animation-direction: alternate;
    animation-delay: inherit;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;

    animation-delay: .2s;
    animation-direction: alternate;

    margin-top: -6px;
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;

    animation-delay: .3s;
    animation-direction: alternate;


    margin-top: -6px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid var(--mainColor);
}

.wheel {
    display: block;
    margin: 5px auto;
    background: var(--mainColor);
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid var(--mainColor);
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-o-keyframes mouse-wheel {

    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@keyframes mouse-wheel {

    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {

    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}