@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  width:100%;
  max-width:100%;
  color:#fff;
  background-color:#111;
  font-family:'Bitter',helvetica;
  text-align:center;
  text-transform:uppercase;
  -ms-overflow-style:none;
  scrollbar-width:none;
}

body::-webkit-scrollbar{
  display:none;
}

h1{
  font-size:4vmin;
  letter-spacing:1.5vmin;
  margin:5vmin 0 2.5vmin 0;
  font-weight:100;
}

h3{
  font-size:2vmin;
  letter-spacing:1.5vmin;
  margin:0 0 2vmin 0;
  font-weight:100;
}

#canvasGrid{
  width:90vmin;
  display:grid;
  position:absolute;
  top:20vmin;
  left:calc((100vw - 90vmin) / 2);
  padding-bottom:5vmin;
}

canvas{
  border:0.125vmin solid white;
}

#titleGrid{
  width:90vmin;
  display:grid;
  position:absolute;
  top:20vmin;
  left:calc((100vw - 90vmin) / 2);
  padding-bottom:5vmin;
}

#titleGrid > div{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#fff;
  color:#111;
  font-size:2.5vmin;
  letter-spacing:0.25vmin;
  border:0.125 solid white;
  opacity:0;
  transition:opacity 0.5s;
}

#titleGrid > div:hover{
  opacity:1;
}