{% load mptt_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bookmarks/style.css' %}">
</head>
<body>

<div class="links">
    {% for link in context.1%}
        {% for i in link %}
            <a href="{{ i.url }}" target="_blank">
            <div class="card">
                <img src="{{ i.category.icon.url }}" alt="" />
                <div class="description">
                    <h2 class="description__name">{{ i.name }}</h2>
                </div>
            </div>
        </a>
        {% endfor %}
    {% endfor %}
</div>
</body>
</html>