{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mrnosomebody | Notions</title>
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{% static 'css/notions/style.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/auth/login/style.css' %}">#}
    <script src="{% static 'js/notions.js' %}"></script>

</head>
<body>
{% load mptt_tags %}

<div class="sidebar">
    <ul>
        {% recursetree categories %}
            <li>
                <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
    <button class="btn add" id="add_category">Add Category</button>
    <button class="btn add" id="add_link">Add Link</button>
</div>

<div class="links">
    <form class="popup inactive" method="post" id="add_cat_form">
        {% csrf_token %}
        <label for="id_name">Category:</label>
        <input type="text" name="name" maxlength="255" required="" id="id_name">
        <label for="id_parent">Parent category:</label>
        <select name="parent" id="id_parent">
            <option value="" selected="">---------</option>
            {% for i in categories %}
                <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" name="addCategory">Submit</button>
        <button id="closeCatPopup" type="button">Close</button>
    </form>
    <form class="popup inactive" method="post" id="add_link_form">
        {% csrf_token %}
        <label for="id_name">Name:</label>
        <input type="text" name="name" maxlength="255" required="" id="id_name">
        <br>
        <label for="id_url">Url:</label>
        <input type="url" name="url" required="" id="id_url">
        <select name="category" id="id_category" style="margin-bottom: 40px;">
            {% for i in categories %}
                <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" name="addLink">Submit</button>
        <button id="closeLinkPopup" type="button">Close</button>
    </form>
    {% for i in links %}
        <a href="{{ i.url }}" target="_blank">
            <div class="card">
                <img src="{{ i.category.icon.url }}" alt=""/>
                <div class="description">
                    <h2 class="description__name">{{ i.name }}</h2>
                    <a href="{% url 'delete-link' i.id %}" style="margin-left: 100%; margin-top: 20%;">
                        Delete
                    </a>
                </div>
            </div>
        </a>
    {% endfor %}
</div>


</body>
</html>
